@{
    ViewBag.Title = "About";
    HttpCookie userRole = Request.Cookies["access"];
    string role = userRole != null ? userRole.Value.Split('=')[1] : "undefined";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (role.Equals("admin"))
    {
        Layout = "~/Views/Shared/_Layout_admin.cshtml";
    }
    else if (role.Equals("student"))
    {
        Layout = "~/Views/Shared/_Layout_students.cshtml";

    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
