@{
    ViewBag.Title = "Contact";
    HttpCookie userRole = Request.Cookies["access"];
    string role = userRole != null ? userRole.Value.Split('=')[1] : "undefined";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (role.Equals("admin"))
    {
        Layout = "~/Views/Shared/_Layout_admin.cshtml";
    }
    else if(role.Equals("student"))
    {
        Layout = "~/Views/Shared/_Layout_students.cshtml";

    }


}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>