@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 30px; text-align: left; padding-left: 40px; padding-top: 20px; height: 200px; width: 1100px; box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); -webkit-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); -moz-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); border-radius: 14px 14px 14px 14px; -webkit-border-radius: 14px 14px 14px 14px; -moz-border-radius: 14px 14px 14px 14px; " class="jumbotron">
    <h3>    Are you a Student?    </h3>
    <p class="lead">Are you here to see and register for courses? This is your place then.</p>
    <p><a href="https://localhost:44331/students/signin" class="btn btn-primary btn-lg">I am a student &raquo;</a></p>
</div>

<div style="margin-top: 30px; text-align: left; padding-left: 40px; padding-top: 20px; height: 200px; width: 1100px; box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); -webkit-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); -moz-box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.97); border-radius: 14px 14px 14px 14px; -webkit-border-radius: 14px 14px 14px 14px; -moz-border-radius: 14px 14px 14px 14px; margin-bottom: 80px; "class="jumbotron">
    <h3>Do you want post courses? </h3>
    <p class="lead">Are you here to create and manage your courses? Do you have an institution? Its your place then</p>
    <p><a href="https://localhost:44331/admins/signin" class="btn btn-primary btn-lg">I have an instution that offer courses &raquo;</a></p>
</div>
