@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Are you a Student? </h3>
    <p class="lead">Are you here to see and register for courses? This is your place then.</p>
    <p><a href="https://localhost:44331/students/signin" class="btn btn-primary btn-lg">I am a student &raquo;</a></p>
</div>

<div class="jumbotron">
    <h3>Do you want post courses? </h3>
    <p class="lead">Are you here to create and manage your courses? Do you have an institution? Its your place then</p>
    <p><a href="https://localhost:44331/admins/signin" class="btn btn-primary btn-lg">I have an instution that offer courses &raquo;</a></p>
</div>
